body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
.main-container{
    padding:0 10%;
}
.flexible-box{
    display:flex;
  
}
.half-width{
    width:50%;
}

.half-width img{
    width:70%;
    padding-left:15%;
  
}
.half-width-box{
    padding-top:10%;
    text-align:justify;
}
h1{
    font-size:50px;
}
.heading-color{
    color:orange;
}
.left-border{
    margin-top:14%;
    width:5px;
    height:150px;
    background-color:red;
    border-radius:10px;
}
.heading{
    padding-left:10px;
}
.link-bottom{
    text-decoration: none;
    padding:2% 5%;
    color:white;
    background-color: tomato; 
    border-radius:5px;
    margin-bottom:25px;
}
.one-third-width{
    width:30%;
    background-color:tomato;
    margin:1%;
    border-radius:10px;
}
.one-third-width img{
    width:40%;
}